@model RestaurantPlanner.Models.Gericht

@{
    ViewBag.Title = "Gericht Löschen";
}

<h2>Löschen</h2>

<h3>Bist du sicher das du dieses Gericht löschen willst?</h3>
<div>
    <h4>Gericht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GerichtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GerichtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GerichtPreis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GerichtPreis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Zurück zur Liste", "Index")
        </div>
    }
</div>
