@model RestaurantPlanner.Models.Gericht

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gericht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GerichtName)
        </dd>

        <dt>
            Preis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GerichtPreis)
        </dd>
        
        <dt>
            Menü
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuZugehoerigkeit.MenuName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GerichtId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
