@model RestaurantPlanner.Models.Getraenk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Getraenk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetraenkName)
        </dd>

        <dt>
            Preis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetraenkPreis)
        </dd>

        <dt>
            Heiss
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeissesGetraenk)
        </dd>

        <dt>
            mit Alkohol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlkoholischesGetraenk)
        </dd>

        <dt>
            Mass
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetraenkMenge)
        </dd>
        
        <dt>
            Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuZugehoerigkeit.MenuName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.GetraenkId }) |
    @Html.ActionLink("Zurück zur Liste", "Index")
</p>
