@model IEnumerable<RestaurantPlanner.Models.Getraenk>

@{
    ViewBag.Title = "Getränke Übersicht";
}

<h2>Übersicht</h2>

<p>
    @Html.ActionLink("Getränk Erstellen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Preis
        </th>
        <th>
            Menu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GetraenkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetraenkPreis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuZugehoerigkeit.MenuName)
        </td>
        <td>
            @Html.ActionLink("Bearbeiten", "Edit", new { id=item.GetraenkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GetraenkId }) |
            @Html.ActionLink("Löschen", "Delete", new { id=item.GetraenkId })
        </td>
    </tr>
}

</table>
