@model RestaurantPlanner.Models.Gericht

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gericht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GerichtName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GerichtName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GerichtPreis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GerichtPreis)
        </dd>
        
        <dd>
            @Html.DropDownListFor(m => m.MenuZugehoerigkeit, new SelectList(MenuHelper.GetMenus()), "Show Menu", new { htmlAttributes = new { @class = "form-control" } }) 
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GerichtId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
