@model IEnumerable<RestaurantPlanner.Models.Tageskarte>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Menü
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ablaufdatum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem => item.TageskarteId)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.MenuZugehoerigkeit.MenuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ablaufdatum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.TageskarteId}) |
            @Html.ActionLink("Details", "Details", new {id = item.TageskarteId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.TageskarteId})
        </td>
    </tr>
}

</table>
